

@mixin button-style {
	  background: $buttonColor;
	  border: 0;
	  color: white;
	  font-size: 17px;
	  padding: 10px 30px;
	  display: inline-block;
	  outline: 0;
	  border-radius: 3px;
	  margin:2em;
	&:hover {
		background: $buttonDark;
	}
}

//a mixin taking a parameter
@mixin grid-setup($columnNumber) {
	//for loops work like this, 'through' can be used instead of 'to' if the last value should be included
	@for $i from 1 to $columnNumber {
		//variables can be used in class names by using the following syntax
		.col-#{$i} {
			border: solid;
			border-color: darken($borderColor, 20% *$i);
			//using a function to calculate width
			width: getColumnWidth(100%, $i);
		}
	}
}

@mixin moods {
	@for $i from 1 through 12 {
		.mood-#{$i} {
			text-decoration: none;
  			color: white;
  			display: block;
  			height: 32px;
  			width: 32px;
  			line-height: 32px;
  			margin-left: -16px;
		    margin-top: -16px;
  			text-align: center;
			position: absolute;
			background-image: url(../images/#{$i}.png);
			background-repeat: no-repeat;
			left: converToPercent(calculateLeft($i));
			top: converToPercent(calculateTop($i));
		}
	}
}


//functions are declared as follows. Returning through the return statement
@function getColumnWidth($width, $columns){
    @return ($width / $columns);
}

@function calculateLeft($i){
	@return 50-35*cos(pi()*(-0.5 - $i/6));
}

@function calculateTop($i){
	@return 50+35*sin(pi()*(-0.5 - $i/6));
}

@function converToPercent($number){
	@return $number*1%;
}