//importing other style files. .scss files prefixed with '_' will be included in the file as is without compilation and can be used 
@import '_colors.scss';
//the file extension is not needed
@import '_mixins';


//declaring a variable using the $ notation. !default means that this value will be used if nothing else is specified
$size1: 24px !default;

$size2: 24px; 

//rule that is only rendered if extended is as entailed by % 
%link-style {
		//This font size will be 24px because nothing else is set, and default is used then
		font-size: $size1;
		//&amp; is used to reference the parent
		&:hover {
			text-decoration: underline;
		}
}

//nesting in Sass (avoid going past 4 levels of nesting whenever it is possible)
.container {
	//Using a Sass variable entailed by the $
	text-align: center;
	background-color: $borderColor;
	a {
		//Rules can be extended using @extend	
		@extend %link-style;
	}
	.some-style {
		//variables are dependant on scope but will overwrite default values anyway.
		$size1: 2em;
		font-size: $size1;
	}
	.other-style {
		$size2: 1em !global;

		//Sass can have conditionals as this
		@if $size2 == 1em {
			background:white;
		}
		font-size: $size2;
	}
	.another-style {
		font-size: $size2;
	}
}

button {
	//Mixins are included using... well @include
	@include button-style;
}