/* line 13, ../scss/main_style.scss */
.container a {
  font-size: 24px;
}
/* line 17, ../scss/main_style.scss */
.container a:hover {
  text-decoration: underline;
}

/* line 23, ../scss/main_style.scss */
.container {
  text-align: center;
  background-color: #ccc;
}
/* line 31, ../scss/main_style.scss */
.container .some-style {
  font-size: 2em;
}
/* line 36, ../scss/main_style.scss */
.container .other-style {
  background: white;
  font-size: 1em;
}
/* line 45, ../scss/main_style.scss */
.container .another-style {
  font-size: 1em;
}

/* line 50, ../scss/main_style.scss */
button {
  background: #2ecc71;
  border: 0;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  display: inline-block;
  outline: 0;
  border-radius: 3px;
  margin: 2em;
}
/* line 13, ../scss/_mixins.scss */
button:hover {
  background: #25a25a;
}
